
h1 {
    font-size: 60px;
    text-align: center;
}

dt:hover {
    background-color: #F89B4D;
}

header{
    margin: 0 auto;
    position:relative;
    width: 700px;
    height: auto;
    background-image: url(https://i.pinimg.com/originals/6c/4c/a4/6c4ca43b85bb6c0f98afd83e98186ece.jpg);
    padding: 0 20px 20px 20px;
    border: 5px solid #C2B9B0;
}

nav{
    position: static;
    visibility: hidden;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #7E685A;
}

main {
    width: 700px;
    margin: 0 auto;
    background-color: #C2CAD0;
    padding: 0 20px 20px 20px;
    border: 5px solid #C2B9B0;
}

footer{
    margin: 0 auto;
    position:relative;
    width: 700px;
    height: auto;
    padding: 0 20px 20px 20px;
    border: 5px solid #C2B9B0;
}

#content, #colRight {
    margin-left:45px;
    float:right;
    position: fixed;
    width:210px;
}
input::placeholder {
    color: red;
    font-size: 1.2em;
    font-style: italic;
}

#enter, #name{
    background: #ffe; /* Цвет фона */
    border: 1px solid #29B0D9; /* Параметры рамки */
}

#content, #right {
    margin-left:45px;
    float:right;
    position: absolute;
    width:210px;
}

#container .column {
    position: relative;
    float: right;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #7E685A;
    text-shadow: 3px 3px 1px black;
}


img {
    display: flex;
    margin: 0 auto;
    shape-image-threshold: revert;
}

@media screen and (max-width: 980px) {
    #pagewrap {
        width: 95%;
    }
    #content {
        width: 20%;
        padding: 3% 4%;
    }
    #sidebar {
        width: 30%;
    }
    #sidebar .widget {
        padding: 8% 7%;
        margin-bottom: 10px;
    }
    #content, #colRight {
        visibility: hidden;
    }

    header{
        position:relative;
        width: 780px;
        visibility: hidden;
        height: 0px;
    }

    main::before {
       content: "Электронная библиотека";
    }
    main {
        width: 790px;
    }
    footer{
        width: 790px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
    }

    .navbar {
        width: 100%;
        background-color: #C2CAD0;
        z-index: 999999;
        visibility: visible;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }

    .navbar .menu-items {
        display: flex;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: #0e2431;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover{
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
        z-index:99999999;

    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 120px;
        background-color: #C2CAD0;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.2rem;
        color: #0e2431;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    }
container{
ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    height: 40vh;
    flex-grow: 1;
}

li:last-child {
flex-grow: 10;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}



@media (max-aspect-ratio: 1/1) {
    li {
        height: 30vh;
    }
}


@media (max-height: 480px) {
    li {
        height: 80vh;
    }
}


@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }
    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }

    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}
}