* {
    box-sizing: border-box;
}


h1 {
    font-size: 60px;
    text-align: center;
}

#canvas{
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
}
#photo{
    display: none;
}
#toggle-heart, #toggle-heart2{
    position: absolute;
    display: none;

}
#label1{
    color: rgb(129, 129, 129);
    font-size: 30px;
}


body {
    /*width: 100vw;*/
    margin: 0;
}

dt:hover {
    background-color: #F89B4D;
}

header{
    margin: 0 auto;
    position:relative;
    /*width: 1000px;*/
    height: auto;
    background-image: url(https://i.pinimg.com/originals/6c/4c/a4/6c4ca43b85bb6c0f98afd83e98186ece.jpg);
    padding: 0 20px 20px 20px;
    border: 5px solid #C2B9B0;
    /*grid-column: 2 / span 1;*/
}

nav{
    position: static;
    visibility: hidden;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #7E685A;
}

main {
    max-width: 1000px;

    margin: 0 auto;
    background-color: #C2CAD0;
    padding: 0 20px 20px 20px;
    border: 5px solid #C2B9B0;
}

footer{
    margin: 0 auto;
    position:relative;
    max-width: 1200px;
    height: auto;
    /*padding: 0 20px 20px 20px;
    border: 5px solid #C2B9B0;*/
}



.centering_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_for_icons {
    display: flex;
    list-style: none;
}

.container_for_icons li {
    margin: 10px;
}

.container_for_icons a {
    text-decoration: none;
    background: #527c82;
    color: black;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -5px 5px 20px -5px #010101;
    position: relative;
    overflow: hidden;
}

.container_for_icons a i {
    font-size: 34px;
    transition: 0.3s ease;
}

.container_for_icons a:before {
    position: absolute;
    content: "";
    width: 120%;
    height: 120%;
    background: linear-gradient(45deg, #F89B4D, #527c82);;
    bottom: 100%;

}

.container_for_icons a:hover i {
    transform: scale(1.3);
}

.container_for_icons a:hover:before {
    animation-name: hover;
    animation-duration: 0.6s;
    bottom: 0;
}

@keyframes hover {
    0% {
        bottom: 100%;
    }
    30% {
        bottom: 60%;
    }
    60% {
        bottom: 30%;
    }
    100% {
        bottom: 0%;
    }
}




















#content, #colRight {
    margin-left:5px;
    float:right;
    position: absolute;
    width:120px;
    top: 125%;
    left:0;
}
/*
#content, #right {
    margin-left:45px;
    float:right;
    position: absolute;
    width:210px;
}*/




/*первые кнопочки*/
.anim_btns {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100%;
}
.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.containerr .boxx {
    position: relative;
    width: 30%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 15px;
    transition: 0.5s;
}

.containerr .boxx::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.containerr .boxx::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}

.containerr .boxx:hover:before,
.containerr .boxx:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.containerr .boxx:nth-child(1):before,
.containerr .boxx:nth-child(1):after,
.containerr .boxx:nth-child(2):before,
.containerr .boxx:nth-child(2):after,
.containerr .boxx:nth-child(3):before,
.containerr .boxx:nth-child(3):after {
    background: linear-gradient(
            315deg,
            #F89B4D,
            gray,
            #527c82
    );
}

.containerr .boxx span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.containerr .boxx span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animative 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
@keyframes animative {
    0%,
    100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}
.containerr .boxx:hover span::before {
    top: -90px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.containerr .boxx span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animative 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}

.containerr .boxx:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.containerr .boxx .content {
    z-index: 1;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    position: relative;
    transition: 0.5s;
    color: black;
}

.containerr .boxx:hover .content {
    left: -25px;
    padding: 60px 40px;
}

.containerr .boxx:hover .content h2 {
    font-size: 2em;
    color: black;
    margin-bottom: 10px;
}

.containerr .boxx:hover .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.containerr .boxx .content a {
    display: inline-block;
    font-size: 1.1em;
    color: #527c82;
    background: lightgray;
    padding: 10px;
    border: 6px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}
/*вторые кнопочки*/
.anim_btns_2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-attachment: fixed;
}

.containerrr {
    position: relative;
    width: 1150px;
    padding:
            20px;
    display: flex;
    margin-top: -250px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerrr .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: #C2CAD0;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.containerrr:hover .card {
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}

.containerrr .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.containerrr .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.containerrr .card .circle h2 {
    color: #C2CAD0;
    font-size: 4.5em;
    padding: 30px 0;
}

.containerrr .card .contentt {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    page-break-after: 20px;
    text-align: center;
}

.containerrr .card .contentt p {
    color: black;
}

.containerrr .card .contentt a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: lightgray;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

.containerrr .card:nth-child(1) .circle,
.containerrr .card:nth-child(1) .contentt a,
.containerrr .card:nth-child(2) .circle,
.containerrr .card:nth-child(2) .contentt a,
.containerrr .card:nth-child(3) .circle,
.containerrr .card:nth-child(3) .contentt a {
   /* background: rgb(131, 58, 180);*/
    background: linear-gradient(
            /*90deg,
            rgba(131, 58, 180, 1) 0%,*/
            lightgray,
            #F89B4D,
            #527c82,
            #527c82,
            #527c82,
            gray
    );
}

/*3 кнопочки*/
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

.container3 .card3 {
    position: relative;
    width: 27%;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.container3 .card3:nth-child(1) .box3 .content3 a {
    background: #527c82;
    color: #F89B4D;
    font-weight: 600;
}

.container3 .card3:nth-child(2) .box3 .content3 a {
    background: #527c82;
    color: #F89B4D;
    font-weight: 600;
}

.container3 .card3:nth-child(3) .box3 .content3 a {
    background: #527c82;
    color: #F89B4D;
    font-weight: 600;
}

.container3 .card3 .box3 {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: linear-gradient(to right, lightgray 50%, #C2CAD0 50%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    z-index: 0;
}

.container3 .card3 .box3:hover::before {
    content: "";
    position: absolute;
    z-index: -102;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #527c82;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#F89B4D, #F89B4D),
    linear-gradient(#527c82, #527c82), linear-gradient(#F89B4D, #F89B4D),
    linear-gradient(#527c82, #527c82);
    animation: rotate 4s linear infinite;
}

.container3 .card3 .box3:hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 5px;
    background: linear-gradient(to right, lightcoral 50%, #F89B4D 50%);
}
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
.container3 .card3 .box3:hover {
    transform: translateY(-50px);
}

.container3 .card3 .box3 .content3 {
    padding: 20px;
    text-align: center;
}

.container3 .card3 .box3 .content3 h2 {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

.container3 .card3 .box3 .content3 h3 {
    padding-top: 45px;
    font-size: 1.8rem;
    color: #527c82;
    z-index: 1;

    transition: 0.5s;
    margin-bottom: 15px;
}

.container3 .card3 .box3 .content3 p {
    font-size: 1rem;
    font-weight: 300;
    color: #527c82;
    z-index: 1;
    transition: 0.5s;
}

.container3 .card3 .box3 .content3 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: #527c82;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.container3 .card3 .box3 .content3 a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #527c82;
    color: #000;
}
h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: #527c82;
    font-size: 28;
    font-weight: 1200;
}




























#container .column {
    position: relative;
    float: right;
}
header h1{
    color: #7E685A;
}
h1 {
    margin: 0;
    padding: 20px 0;
    /*color: #7E685A;*/
    color: #C2B9B0;
    text-shadow: 3px 3px 1px black;
}


img {
    display: flex;
    margin: 0 auto;
    shape-image-threshold: revert;
}
.button {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
    color: #fff;
    background: transparent;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin: 12px;
}

.button span,
.button i {
    z-index: 2;
}

.button:active {
    border-color: rgba(0, 0, 0, 0.1);
}

.button::before,
.button::after {
    content: "";
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.button::before {
    background: rgba(255, 255, 255, 0.3);
}

.button:active::before {
    background: rgba(0, 0, 0, 0.1);
}

#button-p i {
    color: #e67e22;
}

#button-p::before {
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    -webkit-transform: translateX(-101%) translateY(-25%) rotate(45deg);
    transform: translateX(-101%) translateY(-25%) rotate(45deg);
}

#button-p:hover::before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* Общие стили */
*, *:after, *:before {
    border-box;
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.hover-text-one {
    overflow: hidden;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}
.hover-text-one figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    background: #527c82;
    text-align: center;
    cursor: pointer;
}
.hover-text-one figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
}
.hover-text-one figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
    pointer-events: none;
}
.hover-text-one figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hover-text-one figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.hover-text-one figure h3 span {
    font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
    margin: 0;
}
.hover-text-one figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-three {
    background: #527c82;
}
figure.effect-text-three img {
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
figure.effect-text-three:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
    text-align: left;
}
figure.effect-text-three h3 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
}
figure.effect-text-three h3::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-text-three p {
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
@media screen and (max-width: 980px) {
    #pagewrap {
        width: 95%;
    }
    #content {
        width: 20%;
        padding: 3% 4%;
    }
    #sidebar {
        width: 30%;
    }
    #sidebar .widget {
        padding: 8% 7%;
        margin-bottom: 10px;
    }
    #content, #colRight {
        visibility: hidden;
    }

    header{
        position:relative;
        width: 780px;
        visibility: hidden;
        height: 0px;
    }

    main::before {
       content: "Электронная библиотека";
    }
    main {
        width: 790px;
    }

    footer{
        width: 790px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
    }

    .navbar {
        width: 100%;
        background-color: #C2CAD0;
        z-index: 999999;
        visibility: visible;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }

    .navbar .menu-items {
        display: flex;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: #0e2431;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover{
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
        z-index:99999999;

    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 120px;
        background-color: #C2CAD0;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.2rem;
        color: #0e2431;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    }


@media (max-aspect-ratio: 1/1) {
    li {
        height: 30vh;
    }
}


@media (max-height: 480px) {
    li {
        height: 80vh;
    }
}


@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }
    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }

    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}
.inputbox {
    position: relative;
    width: 196px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
    height: 44px;
}
.botpanel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    padding-top: 50px;
    border-top: 2px solid rgb(65, 37, 94);
}

* {
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    /*background-color: rgb(39, 39, 39);*/
    font-family: Arial, Helvetica, sans-serif;
    /*color: white;*/
    color: black;
    background-color: #7E685A;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.task_1 {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display: grid;
    gap: 6px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    grid-template-areas:
    "header header header"
    "aside nav obs"
    "aside main obs"
    "footer footer footer";
}

.T1_item {
    border: 2px solid #C2B9B0;
    border-radius: 3px;
    padding: 10px;
}

.task_1 nav {
    grid-area: nav;
}

.task_1 header {
    grid-area: header;
}

.task_1 main {
    grid-area: main;
}

.task_1 aside {
    grid-area: aside;
}

.task_1 div {
    grid-area: obs;
}

.task_1 footer {
    grid-area: footer;
}

.task_2 {
    display: grid;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;

    grid-template-areas:
    "item_1 item_1 item_2 item_3"
    "item_5 item_7 item_2 item_4"
    "item_5 item_6 item_6 item_6";
}

.task_2 div {
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
    transition: 0.1s;
}

.task_2 div:hover {
    background-color: #527c82;
}

.task_2 div p {
    margin-top: 10px;
}

.task_2 div img {
    width: 100px;
    height: 100px;
}

#T2_item_1 {
    grid-area: item_1;
}

#T2_item_2 {
    grid-area: item_2;
}

#T2_item_3 {
    grid-area: item_3;
}

#T2_item_4 {
    grid-area: item_4;
}

#T2_item_5 {
    grid-area: item_5;
}

#T2_item_6 {
    grid-area: item_6;
}

#T2_item_7 {
    grid-area: item_7;
}

.task_3 form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 12px;
    column-gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 10px;

    grid-template-areas:
    "item_1 item_2"
    "item_3 item_4"
    "item_5 item_5"
    "item_6 .";
}

.task_3 h1 {
    text-align: center;
}

.task_3 input[type=text],
.task_3 input[type=email],
.task_3 input[type=tel] {
    background-image: linear-gradient(90deg, white 50%, #527c82 50%);
    outline: none;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #527c82;
    background-size: 200%;
    background-position: 0;
    transition: 0.1s;
}

.task_3 input[type=text]::placeholder,
.task_3 input[type=email]::placeholder,
.task_3 input[type=tel]::placeholder {
    color: #527c82;
    font-weight: 600;
}

.task_3 input[type=text]:hover,
.task_3 input[type=email]:hover,
.task_3 input[type=tel]:hover {
    background-position: 5%;
}

.task_3 input[type=text]:focus,
.task_3 input[type=email]:focus,
.task_3 input[type=tel]:focus {
    background-position: 100%;
    color: white;
}

.task_3 input[type=submit] {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #527c82;
    color: white;
    transition: 0.1s;
}

.task_3 h2{
    color: #527c82;
}

.task_3 input[type=submit]:hover {
    cursor: pointer;
    transform: scale(1.04);
}

#T3_item_1 {
    grid-area: item_1;
}

#T3_item_2 {
    grid-area: item_2;
}

#T3_item_3 {
    grid-area: item_3;
}

#T3_item_4 {
    grid-area: item_4;
}

#T3_item_5 {
    grid-area: item_5;
}

#T3_item_6 {
    grid-area: item_6;
}

.task_4 {
    background-color: #7E685A;
    padding-top: 10px;
}

.task_4 footer {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display: grid;
    column-gap: 50px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "item_1 item_2 item_3 item_4";
}



.task_4 footer ul li:hover {
    color: #527c82;
    cursor: pointer;
}

.task_4 footer h3 {
    color: lightgray;
}
.task_4 footer ul {
    position: relative;
    color: lightgray;
}

.task_4 p{
    color: lightgray;
}


.task_4 footer ul::before {
    content: '';
    width: 3px;
    height: 0;
    color: #527c82;
    position: absolute;
    left: -10px;
    top: 0;
    transition: 0.1s;
}

.task_4 footer ul:hover::before {
    height: 100%;
}


#T4_item_1 {
    grid-area: item_1;
}

#T4_item_2 {
    grid-area: item_2;
}

#T4_item_3 {
    grid-area: item_3;
}

#T4_item_4 {
    grid-area: item_4;
}

.copy {
    text-align: center;
    padding: 8px;
    margin: 0;
    background-color: rgb(14, 14, 14);
}

@media (max-width: 1000px) {
    .task_1 {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr 5fr 1fr;
        grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "obs footer";
    }

    .task_2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);

        grid-template-areas:
        "item_1 item_1"
        "item_2 item_3"
        "item_2 item_4"
        "item_5 item_5"
        "item_6 item_7";
    }

    .task_4 footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "item_1 item_2"
        "item_3 item_4"
        "item_5 item_5";
    }
}


@media (max-width: 768px) {
    .task_1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 5fr repeat(3, 1fr);
        grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    }

    .task_2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);

        grid-template-areas:
        "item_1"
        "item_2"
        "item_3"
        "item_4"
        "item_5"
        "item_6"
        "item_7";
    }

    .task_3 form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

        grid-template-areas:
        "item_1"
        "item_2"
        "item_3"
        "item_4"
        "item_5"
        "item_6";
    }

    .task_4 footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "item_1"
        "item_2"
        "item_3"
        "item_4";
    }
}



@media (orientation:portrait) {
    .boxNote:hover{
        z-index: 10;
        position: fixed;
        top:0;
        left:11vw;
        width: 80vw;
        margin-top: 13vh;
        padding-top: 1vh;
        transition: all 0.5s ease-in;
    }
    .notification:hover{
        width: 98%;
        left:1%;
    }
    .notification{
        height: 10vw;
        width: 10vw;
        border-radius: 5vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notification .fa{
        line-height: 180%;
        font-size: 300%;
    }
    .notification .num{
        opacity: 0;
    }
    .ol{
        top:10vw;
        left:1%;
        margin: 0;
        width: 98%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        background-color: #C2CAD0;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        list-style-type: none;
        counter-reset: num;
    }
    .ol li:hover{
        width: 110%;
        left: -7%;
        height: 2vh;
    }

}
@media (orientation:landscape) {

    .boxNote:hover{
        transform: translate(2vw,-37vh);
    }
    .notification:hover{
        width: 30vw;
    }
    .notification{
        width: 10vh;
        height: 10vh;
        border-radius: 5vh;
    }
    .notification .fa{
        line-height: 180%;
        font-size: 200%;
    }
    .notification .num{
        position: absolute;
        top:0;
        right: 0;
        width: 3vh;
        height: 3vh;
        border-radius: 3vh;
        text-align: center;
        background-color: #527c82;
    }
    .ol{
        top: 10vh;
        width: 100%;
    }
    .ol li:hover{
        width: 120%;
        left: -14%;
        height: 40%;
    }
}
.boxNote{
    z-index: 10;
    position: fixed;
    right: 5vw;
    bottom: 3vh;
    transition: all 1s;
}
.notification:hover{
    height:min-content;
    text-align: left;
    padding: 0 2%;
    background-color:#527c82;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: all 0.5s ease-in;

}
.notification{
    box-sizing: border-box;
    text-align: center;
    background-color: #C2CAD0;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: all 1s;
}
.notification:hover .fa{
    color: #C2CAD0;
}
.notification .fa{
    color: #C2CAD0;
}
.notification:hover .ol{
    opacity: 1;
    visibility: visible;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.ol{
    border-radius: 30px;
    opacity: 0;
    visibility: hidden;
    position: absolute;

    left:0;
    margin: 0;
    transition: all 0.5s ease-in;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #C2CAD0;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    list-style-type: none;
    counter-reset: num;
}
.ol li:hover{
    background: #527c82;
    color: #C2CAD0;

    position: relative;

    font-size: large;
}
.ol li:hover::before {
    background: #C2CAD0;
    color: #527c82;
    padding: 2px 6px;
}
.ol li:before {
    content: counter(num);
    counter-increment: num;
    top: 0;
    left: -38px;
    width: 28px;
    height: 28px;
    background: #527c82;
    color: #C2CAD0;
    border-radius: 50%;
    padding: 1px 5px;
}
.ol li{
    padding: 10px;
    border-radius: 15px;
    transition: all 0.5s ease-in;

}


